.container {

	width: 1010px;
	background-color: #ffffff;
	margin: 0 auto;
	padding: 20px 32px;
	position: relative;
}

.example {
	display: block;
	width: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  text-align: center;
}

.alert_example {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

